:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #2f00ff;
  --darkblue: #00008b;
}

input:checked {
  height: 20px;
  width: 20px;
}
input:disabled {
  box-shadow: 0 0 10px 10px var(--blue);
}
h1#heading {
  color: var(--blue);
}
/* div,
h1,
p {
  background-color: cornflowerblue;
} */
div h1 {
  background-color: var(--darkblue);
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid rebeccapurple;
}
.outer {
  background-color: grey;
}
.inner:hover {
  background-color: purple;
  transform: scale(0.9) rotate(10deg) scaleY(1);
  transition: width 1s ease-in 3s;
  width: 200px;
}
